include src/napari_vipp/napari.yaml
include CITATION.cff
include CHANGELOG.md
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include SECURITY.md
include SUPPORT.md
recursive-include constraints *.txt
recursive-include docs *.csv *.json *.md *.png *.svg
recursive-include examples *.json *.md
recursive-include packaging *.in *.md *.py *.spec *.txt *.yml
recursive-include scripts *.cmd *.java *.md *.py *.ps1 *.sh
